@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-dark: #202B33;
  --color-light: rgb(252, 252, 252);

  --accent: rgba(150, 156, 187, 0.10);
  --accent2: rgba(150, 156, 187, 0.06);
}

.path {
  /* fill: rgba(180, 180, 180, 0.3); */
  fill: none;
  stroke: #00a3e0;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

.lightmode {
  background-color: var(--color-light);
}

.darkmode {
  background-color: var(--color-dark);
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  font-family: "Lato", sans-serif;
}

#root {
  height: 100%;
}

.fullpage-container {
  height: 100%;
  display: grid;
  grid-template: 52px 1fr / 260px 1fr;
  grid-template-areas:
    "navbar   navbar"
    "tree-nav content";
}

.navbar-container {
  grid-area: navbar;
}

.navbar-height-override {
  height: 48px !important;
}

.strips {
	background: 
		linear-gradient(45deg, 
      #5461c8 12.5%, 
      #c724b1 0 25%, 
      #e4002b 0 37.5%, 
      #ff6900 0 50%, 
      #f6be00 0 62.5%, 
      #97d700 0 75%, 
      #00ab84 0 87.5%, 
      #00a3e0 0);
  height: 4px;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  grid-area: content;
  overflow-x: auto;
}

.content-inner {
  display: flex;
}

.main {
  flex: 12;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0px 25px 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 1em;
}

.tree-nav {
  grid-area: tree-nav;
  background-color: var(--accent2);
}

.photos-grid {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2em;
}

.aside {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spinner {
  margin: auto;
  margin-top: 300px;
}

.dialog {
  padding: 30px;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-col {
  width: 70%;
  margin: auto;
  height: 600px;
}

.welcome-grid {
  height: 100%;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template: 1fr 0.3fr 1fr 1fr 0.3fr 1fr / 1fr 1fr;
  grid-template-areas:
    "title        title"
    "text-recent  text-recent"
    "info         prop-cat"
    "search       prop-cat"
    "text-info    text-info"
    "donut-chart  line-chart";
  column-gap: 2em;
  row-gap: 2em;
}

.address {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.info-pane {
  background-color: var(--accent);
  border-radius: 3px;
  line-height: 1.5rem;
}

.info-inner {
  padding: 20px;
}

.info-img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 180px;
}

.pic {
  width: 100%;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-sa {
  display: flex;
  justify-content: space-around;
}

.flex-col-sb {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.width100 {
  width: 100%;
}

.width45 {
  width: 45%;
}

.title {
  font-size: 20px;
}

hr {
  border-top: 1px solid lightgray;
  border-bottom: 0px;
  margin-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.mt50 {
  margin-top: 50px;
}

.width50 {
  width: 50%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pointer {
  cursor: pointer;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 14px;
}

/* BLUEPRINT OVERRIDES */
.bp3-tree-node-label > a {
  color: inherit !important;
  text-decoration: none !important;
}

.bar > a {
  color: inherit !important;
  text-decoration: none !important;
}

.center-text {
  text-align: center;
}

/* SCROLLBAR */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(150, 156, 187, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(150, 156, 187, 0.25);
  border-radius: 6px;
  /* border: 3px solid #f1f1f1; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 156, 187, 0.20);
}